*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	text-orientation: none;
	list-style: none;
}
body{
	font-family: 'Roboto', sans-serif;
}

.logo{
	background: #fff;
	width: 100%;
	display: flex;
	justify-content: center;
}
.graficlogo{                           /*изображение изменяет свою висоту и ширину при маштабировании*/
	margin: 10px;
	padding: 0cm;
	padding: 0px;
	max-width: 100%;
	box-sizing: border-box; 
	
}

nav{
	margin: auto;
	width: 800px;
	height: 50px;
}
.topnav{
	background-color: #fff;
	font-size: 14px;
	margin-top: 40px;
}
.topnav a{
	color:#000;
	text-align: center;
	padding: 10px 6px;
	font-size: 15px;
}
.topnav a:hover{								/*при наведении внизу чорная полоска */
	border-bottom: 2px solid #000;
}
.topnav .icon{                          /*скрываем иконку &#9776; <-которую визвали*/
	display: none;
}
@media screen and (max-width: 768px){      /*АДАПТИВНАЯ ВЕРСТКА будет определено екранами меньше 768п*/
	.topnav a:not(:first-child) {
		display: none;
	}
	.topnav a.icon{
		float: right;
		margin-top: -17px;
		display: block;
		color: black;
	}
	nav{
		width: 100%;
		height: 100px;
	}
	.topnav.responsive{
		position: relative;
	}
	.topnav.responsive a.icon{
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a{			/*ссылки*/
		float: none;		/*чтоб определялись в колонку*/
		display: block;
		text-align: left;
	}  
}     

/*Урок2*/

.mw-100{
	max-width: 100%; /*для того чтоб не виходило за граници родительского контецнера*/
}

.advantages__countainer{
	display: flex;
	justify-content: center;  /*виравнивание контента вдоль горизонтально	 оси*/
}
.advantages{
	padding-top: 40px;
	padding-bottom: 40px; 
	width: 70%;
	display: flex;
	justify-content: space-between;
	text-align: center;
	flex-wrap: wrap; /* перенос строки*/
}
.advantages__item{
	width: 30px;
}

/*Урок2*/













/*Slider
.slider {
	position: relative;
	overflow: hidden;
  }

  .slider__wrapper {
	display: flex;
	transition: transform 0.6s ease;
  }

  .slider__item {
	margin: 100;
	flex: 0 0 100%;
	max-width: 100%;
  }

  .slider__control {
	position: absolute;
	top: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;   /*ширина стрелок*/
	/*color: #fff;
	text-align: center;
	opacity: 0.5;
	height: 50px;
	transform: translateY(-50%);
	background: rgba(0, 0, 0, .5);
  }

  .slider__control:hover,
  .slider__control:focus {
	color: #fff;
	text-decoration: none;
	outline: 0;
	opacity: .9;
  }

  .slider__control_left {
	left: 0;
  }

  .slider__control_right {
	right: 0;
  }

  .slider__control::before { /*стрелки*/
/*	content: '';
	display: inline-block;
	width: 200px;
	height: 20px;
	background: transparent no-repeat center center;
	background-size: 100% 100%;
  }

  .slider__control_left::before {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }

  .slider__control_right::before {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }

  .slider__item>div {
	line-height: 250px;
	font-size: 100px;
	text-align: center;
  }


Slider*/
